In [1]:
import pandas as pd 
import numpy as np

In [20]:
people = {
        "first" : ["Arslan", 'Anaconda', 'Pru', np.nan, None, 'NA','NA'],
        "last"  : ["Amanov", 'Python','Prudential', np.nan, np.nan, 'Missing', 'Missing'], 
        "email" : ["arslan.amanov@gmail.com",'Anaconda.python@gmail.com','Prudential.thailand@gmail.com', None, np.nan, 'Anonymous@gmail.com','HelloWorld@gmail.com'],
        "age"   : ['23','25','28','29', None, None, None ]
     }

In [31]:
df = pd.DataFrame(people)



# replace for Na values with numpy  


df.replace('NA', np.nan, inplace = True)
df.replace('Missing', np.nan, inplace = True)

In [32]:
df

      first        last                          email   age
0    Arslan      Amanov        arslan.amanov@gmail.com    23
1  Anaconda      Python      Anaconda.python@gmail.com    25
2       Pru  Prudential  Prudential.thailand@gmail.com    28
3       NaN         NaN                           None    29
4      None         NaN                            NaN  None
5       NaN         NaN            Anonymous@gmail.com  None
6       NaN         NaN           HelloWorld@gmail.com  None

In [33]:
#drop Na results. 

df.dropna()

      first        last                          email age
0    Arslan      Amanov        arslan.amanov@gmail.com  23
1  Anaconda      Python      Anaconda.python@gmail.com  25
2       Pru  Prudential  Prudential.thailand@gmail.com  28

In [34]:
df.dropna(axis = 'index', how = 'any')

      first        last                          email age
0    Arslan      Amanov        arslan.amanov@gmail.com  23
1  Anaconda      Python      Anaconda.python@gmail.com  25
2       Pru  Prudential  Prudential.thailand@gmail.com  28

In [35]:
# we can get all values who are missing. 


df.dropna(axis='index', how = 'all')

      first        last                          email   age
0    Arslan      Amanov        arslan.amanov@gmail.com    23
1  Anaconda      Python      Anaconda.python@gmail.com    25
2       Pru  Prudential  Prudential.thailand@gmail.com    28
3       NaN         NaN                           None    29
5       NaN         NaN            Anonymous@gmail.com  None
6       NaN         NaN           HelloWorld@gmail.com  None

In [36]:
# i dont need  first name but i need a last name and email 
#if you want to permanently change the values inplace = True 
df.dropna(axis = 'index', how = 'any' , subset = ['last', 'email'])

      first        last                          email age
0    Arslan      Amanov        arslan.amanov@gmail.com  23
1  Anaconda      Python      Anaconda.python@gmail.com  25
2       Pru  Prudential  Prudential.thailand@gmail.com  28

In [37]:
df.isna()

   first   last  email    age
0  False  False  False  False
1  False  False  False  False
2  False  False  False  False
3   True   True   True  False
4   True   True   True   True
5   True   True  False   True
6   True   True  False   True

In [38]:
#THIS IS FOR STRING VALUES 
# if you work with numbers so either you use 0 or 1 

df.fillna('MISSING')

      first        last                          email      age
0    Arslan      Amanov        arslan.amanov@gmail.com       23
1  Anaconda      Python      Anaconda.python@gmail.com       25
2       Pru  Prudential  Prudential.thailand@gmail.com       28
3   MISSING     MISSING                        MISSING       29
4   MISSING     MISSING                        MISSING  MISSING
5   MISSING     MISSING            Anonymous@gmail.com  MISSING
6   MISSING     MISSING           HelloWorld@gmail.com  MISSING

In [39]:
df.dtypes

first    object
last     object
email    object
age      object
dtype: object

In [40]:
# if you see object means string 

df['age'].mean()

TypeError: can only concatenate str (not "int") to str

In [41]:
# can only concatenate str (not "int") to str


type(np.nan)

float

In [42]:
df['age'] = df['age'].astype(int)

TypeError: int() argument must be a string, a bytes-like object or a number, not 'NoneType'

In [43]:
df['age'] = df['age'].astype(float)

In [44]:
df.dtypes

first     object
last      object
email     object
age      float64
dtype: object

In [45]:
df['age'].mean()

26.25

In [ ]:
#casting data types  >> df.astype()