In [1]:
people = {
        "first" : ["Arslan", 'Anaconda', 'Pru'],
        "last"  : ["Amanov", 'Python','Prudential'], 
        "email" : ["arslan.amanov@gmail.com",'Anaconda.python@gmail.com','Prudential.thailand@gmail.com']
     }

In [2]:
import pandas as pd

In [3]:
df = pd.DataFrame(people)

In [4]:
df

      first        last                          email
0    Arslan      Amanov        arslan.amanov@gmail.com
1  Anaconda      Python      Anaconda.python@gmail.com
2       Pru  Prudential  Prudential.thailand@gmail.com

In [5]:
df['email']

0          arslan.amanov@gmail.com
1        Anaconda.python@gmail.com
2    Prudential.thailand@gmail.com
Name: email, dtype: object

In [9]:
df.set_index('email', inplace = True)

In [10]:
df

                                  first        last
email
arslan.amanov@gmail.com          Arslan      Amanov
Anaconda.python@gmail.com      Anaconda      Python
Prudential.thailand@gmail.com       Pru  Prudential

In [11]:
df.index

Index(['arslan.amanov@gmail.com', 'Anaconda.python@gmail.com',
       'Prudential.thailand@gmail.com'],
      dtype='object', name='email')

In [13]:
df.loc['arslan.amanov@gmail.com', 'last']

'Amanov'

In [15]:
# To reset index 
df.reset_index(inplace = True)

In [16]:
df

                           email     first        last
0        arslan.amanov@gmail.com    Arslan      Amanov
1      Anaconda.python@gmail.com  Anaconda      Python
2  Prudential.thailand@gmail.com       Pru  Prudential

In [17]:
filt = (df['last'] == 'Python')

In [18]:
df[filt]

                       email     first    last
1  Anaconda.python@gmail.com  Anaconda  Python

In [20]:
# .loc used for look up rows and columns by labels 
df.loc[filt, 'email']

1    Anaconda.python@gmail.com
Name: email, dtype: object

In [23]:
# using for AND  _____ OR  
filt = (df['last'] == 'Prudential') & (df['first'] == 'Pru')

In [24]:
df.loc[filt, 'email']

2    Prudential.thailand@gmail.com
Name: email, dtype: object

In [25]:
# using for OR  
filt = (df['last'] == 'Prudential') | (df['first'] == 'Pru')

In [26]:
df.loc[filt, 'email']

2    Prudential.thailand@gmail.com
Name: email, dtype: object

In [27]:
# if you want to get opposite  use for "-" in front of 'filter' like __  df.loc[-filt, 'email']
df.loc[-filt, 'email']

0      arslan.amanov@gmail.com
1    Anaconda.python@gmail.com
Name: email, dtype: object