In [2]:
    person = {
        "first" : "Arslan",
        "last"  : "Amanov", 
        "email" : "arslan.amanov@gmail.com"
    }

In [3]:
     people = {
        "first" : ["Arslan"],
        "last"  : ["Amanov"], 
        "email" : ["arslan.amanov@gmail.com"]
     }

In [4]:
people = {
        "first" : ["Arslan", 'Anaconda', 'Pru'],
        "last"  : ["Amanov", 'Python','Prudential'], 
        "email" : ["arslan.amanov@gmail.com",'Anaconda.python@gmail.com','Prudential.thailand@gmail.com']
     }

In [5]:
people['email']

['arslan.amanov@gmail.com',
 'Anaconda.python@gmail.com',
 'Prudential.thailand@gmail.com']

In [6]:
people['last']

['Amanov', 'Python', 'Prudential']

In [7]:
people['first']

['Arslan', 'Anaconda', 'Pru']

In [8]:
 import pandas as pd

In [9]:
df = pd.DataFrame(people)

In [10]:
df

      first        last                          email
0    Arslan      Amanov        arslan.amanov@gmail.com
1  Anaconda      Python      Anaconda.python@gmail.com
2       Pru  Prudential  Prudential.thailand@gmail.com

In [11]:
df['email']

0          arslan.amanov@gmail.com
1        Anaconda.python@gmail.com
2    Prudential.thailand@gmail.com
Name: email, dtype: object

In [12]:
type(df['email'])

pandas.core.series.Series

In [13]:
df.email

0          arslan.amanov@gmail.com
1        Anaconda.python@gmail.com
2    Prudential.thailand@gmail.com
Name: email, dtype: object

In [14]:
df[['first','email']]

      first                          email
0    Arslan        arslan.amanov@gmail.com
1  Anaconda      Anaconda.python@gmail.com
2       Pru  Prudential.thailand@gmail.com

In [15]:
df.columns

Index(['first', 'last', 'email'], dtype='object')

In [16]:
df.iloc[[0,1], 2]

0      arslan.amanov@gmail.com
1    Anaconda.python@gmail.com
Name: email, dtype: object

In [17]:
df

      first        last                          email
0    Arslan      Amanov        arslan.amanov@gmail.com
1  Anaconda      Python      Anaconda.python@gmail.com
2       Pru  Prudential  Prudential.thailand@gmail.com

In [18]:
df.loc[0]

first                     Arslan
last                      Amanov
email    arslan.amanov@gmail.com
Name: 0, dtype: object

In [19]:
df.loc[[0,1], ['email', 'last']]

                       email    last
0    arslan.amanov@gmail.com  Amanov
1  Anaconda.python@gmail.com  Python

In [21]:
#Updating Rows and Columns _Modifying Data with DataFrames 

df.columns

Index(['first', 'last', 'email'], dtype='object')

In [23]:
df.columns = ['first_name','last_name', 'email']

In [24]:
df

  first_name   last_name                          email
0     Arslan      Amanov        arslan.amanov@gmail.com
1   Anaconda      Python      Anaconda.python@gmail.com
2        Pru  Prudential  Prudential.thailand@gmail.com

In [34]:
#UpperCase or Lowercase method 
df.columns = [x.lower() for x in df.columns]

In [35]:
df

  first_name   last_name                          email
0     Arslan      Amanov        arslan.amanov@gmail.com
1   Anaconda      Python      Anaconda.python@gmail.com
2        Pru  Prudential  Prudential.thailand@gmail.com

In [36]:
# replace method for space to underscore
df.columns = df.columns.str.replace(' ', '_')
df

  first_name   last_name                          email
0     Arslan      Amanov        arslan.amanov@gmail.com
1   Anaconda      Python      Anaconda.python@gmail.com
2        Pru  Prudential  Prudential.thailand@gmail.com

In [39]:
#renaming the columns, without using inplace = True you can basically see what its gonna look like 

df.rename(columns={'first_name' : 'first', 'last_name': 'last'}, inplace = True)

In [43]:
df

      first        last                          email
0    Arslan      Amanov        arslan.amanov@gmail.com
1  Anaconda      Python      Anaconda.python@gmail.com
2       Pru  Prudential  Prudential.thailand@gmail.com

In [47]:
df.loc[2] = ['Pru','Prudence', 'Prudence.@gmail.com']

In [48]:
df

      first      last                      email
0    Arslan    Amanov    arslan.amanov@gmail.com
1  Anaconda    Python  Anaconda.python@gmail.com
2       Pru  Prudence        Prudence.@gmail.com

In [50]:
# change single values in row 


df.loc[2, ['last', 'email']]

last                Prudence
email    Prudence.@gmail.com
Name: 2, dtype: object

In [51]:
df.loc[2, ['last', 'email']] = ['Prudential' , 'Prudential@gmail.com']

In [52]:
df

      first        last                      email
0    Arslan      Amanov    arslan.amanov@gmail.com
1  Anaconda      Python  Anaconda.python@gmail.com
2       Pru  Prudential       Prudential@gmail.com

In [53]:
# change 1 values for in row 

df.loc[2, 'last'] = 'Prudential.th'
df

      first           last                      email
0    Arslan         Amanov    arslan.amanov@gmail.com
1  Anaconda         Python  Anaconda.python@gmail.com
2       Pru  Prudential.th       Prudential@gmail.com

In [54]:
# .loc and  .at both is fine 

df.at[2, 'last'] = 'Prudence '

In [55]:
df

      first       last                      email
0    Arslan     Amanov    arslan.amanov@gmail.com
1  Anaconda     Python  Anaconda.python@gmail.com
2       Pru  Prudence        Prudential@gmail.com

In [56]:
filt = (df['email'] == 'Prudential@gmail.com')

In [58]:
df.loc[filt,'last'] = 'Prudential.th'

In [59]:
df

      first           last                      email
0    Arslan         Amanov    arslan.amanov@gmail.com
1  Anaconda         Python  Anaconda.python@gmail.com
2       Pru  Prudential.th       Prudential@gmail.com

In [62]:
# change couple rows  
# assign 

df['email'] = df['email'].str.lower()

In [63]:
df

      first           last                      email
0    Arslan         Amanov    arslan.amanov@gmail.com
1  Anaconda         Python  anaconda.python@gmail.com
2       Pru  Prudential.th       prudential@gmail.com

In [65]:
# Advanced methods for changing couple rows 
# apply , map , applymap, replace 


df['email'].apply(len)

0    23
1    25
2    20
Name: email, dtype: int64

In [72]:
#simple function for using 
def update_email(email): 
    return email.upper()

In [73]:
df['email'].apply(update_email)

0      ARSLAN.AMANOV@GMAIL.COM
1    ANACONDA.PYTHON@GMAIL.COM
2         PRUDENTIAL@GMAIL.COM
Name: email, dtype: object

In [74]:
#lambda function 
# runs on series version 
df['email'] = df['email'].apply(lambda x : x.lower())

In [75]:
df

      first           last                      email
0    Arslan         Amanov    arslan.amanov@gmail.com
1  Anaconda         Python  anaconda.python@gmail.com
2       Pru  Prudential.th       prudential@gmail.com

In [76]:
df['email'].apply(len)

0    23
1    25
2    20
Name: email, dtype: int64

In [77]:
# applying number of rows for columns 
df.apply(len)

first    3
last     3
email    3
dtype: int64

In [78]:
len(df['email'])

3

In [79]:
df.apply(len, axis = 'columns')

0    3
1    3
2    3
dtype: int64

In [80]:
df.apply(pd.Series.min)

first                     Anaconda
last                        Amanov
email    anaconda.python@gmail.com
dtype: object

In [81]:
df.apply(lambda x: x.min())

first                     Anaconda
last                        Amanov
email    anaconda.python@gmail.com
dtype: object

In [82]:
df.applymap(len)

   first  last  email
0      6     6     23
1      8     6     25
2      3    13     20

In [83]:
df.applymap(str.lower)

      first           last                      email
0    arslan         amanov    arslan.amanov@gmail.com
1  anaconda         python  anaconda.python@gmail.com
2       pru  prudential.th       prudential@gmail.com

In [88]:
# works only Series for map method 

df['first'].map({'Arslan':'Alp', 'Anaconda':'Kobra'})

0      Alp
1    Kobra
2      NaN
Name: first, dtype: object

In [87]:
df['first'].replace({'Arslan':'Alp', 'Anaconda':'Kobra'})

0      Alp
1    Kobra
2      Pru
Name: first, dtype: object